html {
    position: relative;
    min-height: 100%;
}

body {
  	margin: 0;
    padding: 0;
  	margin-bottom: 60px;
  	min-height: 100%;
    padding-top: 70px;
}

/* SLIDE */

    .slide-image {
        width: 100%;
    }

    .carousel-holder {
        margin-bottom: 30px;
    }

    .carousel-control,
    .item {
        border-radius: 4px;
    }

    .caption {
        height: 130px;
        overflow: hidden;
    }
    
    .harga {
      font-weight: bold;
      font-size: 15px;
      color: #2980b9;

    }

    .harga sup {
      color: #D14233;
    }

    .thumbnail img {
        width: 100%;
    }

    .thumbnail {
        padding: 0;
    }

    .thumbnail .caption-full {
        padding: 9px;
        color: #333;
    }

/* END Slide */

/* Image Hover Product */
    .morph {
      -webkit-transition: all 1s ease; /* Safari and Chrome */
      -moz-transition: all 1s ease; /* Firefox */
      -o-transition: all 1s ease; /* IE 9 */
      -ms-transition: all 1s ease; /* Opera */
      transition: all 1s ease;
        max-width: 100%;
    }
     
    .morph:hover {
      -webkit-transform:scale(1.15); /* Safari and Chrome */
      -moz-transform:scale(1.15); /* Firefox */
      -ms-transform:scale(1.15); /* IE 9 */
      -o-transform:scale(1.15); /* Opera */
       transform:scale(1.15);
    }

/* End Image Hover Product */


/* NAVBAR */
    .navbar-custom {
        background-color: #0088cc;
        border-color: #0072ab;
    }
    .navbar-custom .navbar-brand {
        color: #ffffff;
    }
    .navbar-custom .navbar-brand:hover,
    .navbar-custom .navbar-brand:focus {
        color: #e6e6e6;
        background-color: transparent;
    }
    .navbar-custom .navbar-text {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav > li > a {
        color: #ffffff;
    }
    .navbar-custom .navbar-nav > li > a:hover,
    .navbar-custom .navbar-nav > li > a:focus {
        color: #c0c0c0;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav > .active > a,
    .navbar-custom .navbar-nav > .active > a:hover,
    .navbar-custom .navbar-nav > .active > a:focus {
        color: #c0c0c0;
        background-color: #0072ab;
    }
    .navbar-custom .navbar-nav > .disabled > a,
    .navbar-custom .navbar-nav > .disabled > a:hover,
    .navbar-custom .navbar-nav > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
    .navbar-custom .navbar-toggle {
        border-color: #dddddd;
    }
    .navbar-custom .navbar-toggle:hover,
    .navbar-custom .navbar-toggle:focus {
        background-color: #dddddd;
    }
    .navbar-custom .navbar-toggle .icon-bar {
        background-color: #cccccc;
    }
    .navbar-custom .navbar-collapse,
    .navbar-custom .navbar-form {
        border-color: #0070a8;
    }
    .navbar-custom .navbar-nav > .dropdown > a:hover .caret,
    .navbar-custom .navbar-nav > .dropdown > a:focus .caret {
        border-top-color: #c0c0c0;
        border-bottom-color: #c0c0c0;
    }
    .navbar-custom .navbar-nav > .open > a,
    .navbar-custom .navbar-nav > .open > a:hover,
    .navbar-custom .navbar-nav > .open > a:focus {
        background-color: #0072ab;
        color: #c0c0c0;
    }
    .navbar-custom .navbar-nav > .open > a .caret,
    .navbar-custom .navbar-nav > .open > a:hover .caret,
    .navbar-custom .navbar-nav > .open > a:focus .caret {
        border-top-color: #c0c0c0;
        border-bottom-color: #c0c0c0;
    }
    .navbar-custom .navbar-nav > .dropdown > a .caret {
        border-top-color: #ffffff;
        border-bottom-color: #ffffff;
    }
    @media (max-width: 767) {
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #c0c0c0;
        background-color: transparent;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #c0c0c0;
        background-color: #0072ab;
      }
      .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
      .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
      .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
      }
    }
    .navbar-custom .navbar-link {
        color: #ffffff;
    }
    .navbar-custom .navbar-link:hover {
        color: #c0c0c0;
    }

/* end navbar */

/* footer */
    #footer { 
      	font-size: 1.0em;
      	width: 100%;
      	clear: both;
      	padding-top: 20px; 
      	border-top: 5px solid #d0d0d0;
      	color: #ccc; 
      	position: absolute;
      	background-color: #6d808f; /width: 100%;/ /height: 300px;/ /height: 100%;/ overflow: none;
     }

    .footer-bottom {
      background: #D6D6D0;
      padding-top: 10px;
      color: #000000;
    }

    footer {
      margin: 50px 0;
    }

    #top-link-block.affix-top {
        position: absolute; /* allows it to "slide" up into view */
        bottom: -82px; /* negative of the offset - height of link element */
        right: 10px; /* padding from the left side of the window */
    }

    #top-link-block.affix {
        position: fixed; /* keeps it on the bottom once in view */
        bottom: 18px; /* height of link element */
        right: 10px; /* padding from the left side of the window */
    }

    #icon-top {
      color: #ffffff;
    }

    .well {
      background: #0088CC;
    }

    .container {
    	position:relative;
    	min-height: 100%;
    }

    #content{
        padding-bottom:80px; /*sama atau lebih besar dari tinggi footer*/
    }

    .contact a {
      color: #ccc;
    }

    .contact a:hover {
      color: #0088CC;
    }

    .contact h3 {
       color: #E0E0E0;
    }

     .contact {
     	color: #ffffff;
     	list-style-type: none;
     }

     .list-group {
      list-style-type: none;
     }
/* End Footer */


/* Nav Sidebar */

    .nav-sidebar { 
        width: 100%;
        padding: 8px 0; 
        border-right: 1px solid #ddd;
    }
    .nav-sidebar a {
        color: #333;
        -webkit-transition: all 0.08s linear;
        -moz-transition: all 0.08s linear;
        -o-transition: all 0.08s linear;
        transition: all 0.08s linear;
        -webkit-border-radius: 4px 0 0 4px; 
        -moz-border-radius: 4px 0 0 4px; 
        border-radius: 4px 0 0 4px; 
    }
    .nav-sidebar .active a { 
        cursor: default;
        background-color: #428bca; 
        color: #fff; 
        text-shadow: 1px 1px 1px #666; 
    }
    .nav-sidebar .active a:hover {
        background-color: #428bca;   
    }
    .nav-sidebar .text-overflow a,
    .nav-sidebar .text-overflow .media-body {
        white-space: nowrap;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis; 
    }

/* End Navbar Sidebar */

.breadcrumb {
  background: #bdc3c7;
  font-size: 1.2em;
}

.breadcrumbs {
  background: #bdc3c7;
}

/* end breadcrumb */

/* Cart Delete */
.cart_delete .fa {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #000000;
  color: rgba(255, 0, 0, 0.3);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.cart_delete a {
   font-size: 20px;
}

.cart_delete.icon-circle .fa{ 
   border-radius: 50%;
}

.cart_delete .fa:hover, .cart_delete .fa:active {
  color: #000;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333; 
}
.cart_delete.icon-zoom .fa:hover, .cart_delete.icon-zoom .fa:active { 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1); 
}

/* Button beli */
#beli {
  background: #019875;
  -webkit-transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: width 0.8s cubic-bezier(0.23, 1, 0.32, 1), height 0.8s cubic-bezier(0.23, 1, 0.32, 1), transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;

  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  transition: background 0.15s ease, line-height 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

#beli:hover {
  background: #1BBC9B;
}